@font=face{
	font-family: Raleway;
	src:url(../fonts/Raleway-SemiBold.ttf);
}

body{
	font-family: Raleway !important;
	background-image: url(../images/background.svg);
	z-index:-9999;
}

.indiq-logo{
	max-width: 50rem;
}

.section{
	margin-top: 2rem;
	padding-top: 1rem;
}
h1, h2 {
	padding-right:10rem;
	padding-left:10rem;
	text-align:center;
}

h1{
	font-size:3rem !important;
}
h2{
	font-size:2.5rem !important;
}

.shade{
	background:black;
	color:white;
}